@using Termin.Models
@model ResultsModel

<div>
    <span class="d-inline-block">Student started:</span><span>@Model.Started</span>
</div>

<div>
    <span class="d-inline-block">Student ended:</span><span>@Model.Ended</span>
</div>
    
<div>
    <span class="d-inline-block">Points:</span><span>@Model.Points</span>
</div>

<div>
    <span class="d-inline-block">Student grade:</span><span>@Model.Grade</span>
</div>