@using Termin.Models
@model List<TestModel>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @if (item.Active)
                    {
                        <a asp-page=".">Take test</a>
                    }
                    else
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Results</a>
                        <a asp-page = "Details" asp-route-id = "@item.Id" > Details </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>