@page
@model Termin.Areas.Teacher.Pages.Tests.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Test.Name" class="control-label"></label>
                <input asp-for="Test.Name" class="form-control" />
                <span asp-validation-for="Test.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Description" class="control-label"></label>
                <input asp-for="Test.Description" class="form-control" />
                <span asp-validation-for="Test.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Start" class="control-label"></label>
                <input asp-for="Test.Start" class="form-control" />
                <span asp-validation-for="Test.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.End" class="control-label"></label>
                <input asp-for="Test.End" class="form-control" />
                <span asp-validation-for="Test.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Duration" class="control-label"></label>
                <input asp-for="Test.Duration" class="duration-picker" />
                <span asp-validation-for="Test.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Grade3" class="control-label"></label>
                <input asp-for="Test.Grade3" class="form-control" />
                <span asp-validation-for="Test.Grade3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Grade4" class="control-label"></label>
                <input asp-for="Test.Grade4" class="form-control" />
                <span asp-validation-for="Test.Grade4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Grade5" class="control-label"></label>
                <input asp-for="Test.Grade5" class="form-control" />
                <span asp-validation-for="Test.Grade5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Grade6" class="control-label"></label>
                <input asp-for="Test.Grade6" class="form-control" />
                <span asp-validation-for="Test.Grade6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <link href="~/css/bootstrap-duration-picker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-duration-picker.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('.duration-picker').durationPicker({
        showSeconds: false,
    });
</script>
}
