@page
@model Termin.Areas.Teacher.Pages.Tests.QuestionsModel

<div id="allContacts-placeholder"></div>
<div id="modal-placeholder"></div>

<button type="button" class="btn btn-primary" data-url="@Url.Page("Questions","QuestionModal")" data-toggle="ajax-modal">
    Add Question
</button>

