@page
@model Termin.Areas.Teacher.Pages.Tests.QuestionsModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@* ViewLocalizer path is Resources.Pages.Index *@
@inject IViewLocalizer ViewLocalizer

<div id="allContacts-placeholder"></div>
<div id="modal-placeholder"></div>

<button type="button" class="btn btn-primary" data-url="@Url.Page("Questions","QuestionModal")" data-toggle="ajax-modal">
    @ViewLocalizer["Add Question"]
</button>

